<?xml version="1.0" encoding="UTF-8"?>

<web-app version="3.0"
         xmlns="http://java.sun.com/xml/ns/javaee"
         xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd"
         metadata-complete="false">
   
    <display-name>Doctor Vera Cloud</display-name>
    <servlet>
        <description>Main servlet</description>
        <display-name>Controller</display-name>
        <servlet-name>Controller</servlet-name>
        <servlet-class>ua.kiev.doctorvera.servlets.Controller</servlet-class>
        <load-on-startup>1</load-on-startup>
    </servlet>
    
    <servlet-mapping>
        <servlet-name>Controller</servlet-name>
        <url-pattern>/Controller</url-pattern>
    </servlet-mapping>
    
    <filter>
    	<filter-name>InitFilter</filter-name>
    	<filter-class>ua.kiev.doctorvera.filter.InitFilter</filter-class>
	</filter>
	
    <filter>
    	<filter-name>LogFilter</filter-name>
    	<filter-class>ua.kiev.doctorvera.filter.LogFilter</filter-class>
	</filter>
	
    <filter>
   		<filter-name>AuthenFilter</filter-name>
   		<filter-class>ua.kiev.doctorvera.filter.AuthenFilter</filter-class>
	</filter>
    	
    <filter-mapping>
	   	<filter-name>InitFilter</filter-name>
	   	<url-pattern>/*</url-pattern>
	</filter-mapping>
	
	<filter-mapping>
	   	<filter-name>LogFilter</filter-name>
	   	<url-pattern>/*</url-pattern>
	</filter-mapping>
	
	<filter-mapping>
   		<filter-name>AuthenFilter</filter-name>
   		<url-pattern>/*</url-pattern>
	</filter-mapping>
	
	<jsp-config> 
        <taglib> 
               <taglib-uri>menu</taglib-uri> 
               <taglib-location>/WEB-INF/menu.tld</taglib-location> 
        </taglib> 
	</jsp-config>

	
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>

</web-app>
